<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/assets/styles.css"/>
</head>
<body>
<% include nav.ejs %>
<h1>Contact Us</h1>


<p>Thanks <%= data.name; %>for getting in touch</p>
<p>We will reply you at <%= data.email; %> </p>
</body>
</html>
