<html>
<head>
    <link rel="stylesheet" href="/assets/styles.css"/>
</head>
<body>
<% include nav.ejs %>
<h1>You are viewing the profile of <%= data.name %></h1>
<p><strong>Age:</strong> <%= data.age %></p>
<p><strong>Job:</strong> <%= data.job %></p>
<h2>Hobbies</h2>
<ul>
    <% data.hobbies.forEach(function (item) { %>
    <li><%= item %></li>
    <% }); %>
</ul>
</body>
</html>
