<h1>{{title}}</h1>
<form method="post" action="/submitForm">
    <div class="input">
        <label for="email">E-mail</label>
        <input type="text" name="email"/>
    </div>
    <div class="input">
        <label for="password">Password</label>
        <input type="password" name="password"/>
    </div>
    <div class="input">
        <label for="password">Confirm Password</label>
        <input type="password" name="cpassword"/>
    </div>
    <button type="submit">Save</button>
</form>