<h1>{{title}}</h1>

{{# if success}}
    <section class="success">
        <h2>Success Validation</h2>
    </section>
{{ else}}
    {{# if errors }}
        <section class="errors">
            <ul>
                {{# each errors}}
                    <li>{{ this.msg }}</li>
                {{/each}}
            </ul>
        </section>
    {{/if}}
{{/if}}
<form method="post" action="/submit">
    <div class="input">
        <label for="email">E-mail</label>
        <input type="text" name="email"/>
    </div>
    <div class="input">
        <label for="password">Password</label>
        <input type="password" name="password"/>
    </div>
    <div class="input">
        <label for="password">Confirm Password</label>
        <input type="password" name="cpassword"/>
    </div>
    <button type="submit">Save</button>
</form>